<div class="container mt-5">
  <button routerLink="/add-question" class="button"><span>Add new Question </span></button>
  <button
    type="button"
    class="btn btn-custom"
    (click)="openModal(template)"
    [disabled]="!isSelected"
  >
    <span>Add new quiz</span>
  </button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Creating Quiz</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" [formGroup]="form">
      <label for="quizName">Quiz Name</label>
      <input class="form-control" id="quizName" type="text" formControlName="name" />
      <div class="text-center mt-4">
        <button class="btn btn-primary text-center" (click)="addQuizz()">
          Create Quiz
        </button>
      </div>
    </div>
  </div>

  <div class="selected-column modal-body">
    <span *ngIf="quizId">Press <a href="/quiz/{{ quizId }}"> link</a> to start the quiz</span>
    <h6>Number of selected Questions ({{ selected?.length }})</h6>
  </div>
</ng-template>

<div class="container mt-4 mx-auto" *ngIf="pageResult">
  <ngx-datatable
    *ngIf="pageResult"
    class="material"
    [rows]="rows"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [externalPaging]="true"
    [count]="pageResult.metadata.total"
    [offset]="pageResult.metadata.offset"
    [limit]="pageResult.metadata.pageSize"
    (page)="pageChanged($event)"
    [limit]="5"
    [selected]="selected"
    [selectionType]="SelectionType.checkbox"
    [selectAllRowsOnPage]="false"
    (select)="onSelect($event)"
  >
    <ngx-datatable-column
      [width]="30"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true"
    >
    </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" prop="text" name="Question"> </ngx-datatable-column>
    <ngx-datatable-column
      [sortable]="false"
      prop="categories"
      name="Categories"
    ></ngx-datatable-column>
  </ngx-datatable>
</div>
