<div class="container mt-5">
  <button routerLink="/add-question" class="button"><span>Add new Question </span></button>
</div>

<div class="container mt-4 mx-auto" *ngIf="pageResult">
  <ngx-datatable
    *ngIf="pageResult"
    class="material"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [externalPaging]="true"
    [count]="pageResult.metadata.total"
    [offset]="pageResult.metadata.offset"
    [limit]="pageResult.metadata.pageSize"
    (page)="pageChanged($event)"
    [limit]="5"
    [selected]="selected"
    [selectionType]="SelectionType.checkbox"
    [selectAllRowsOnPage]="false"
    (select)="onSelect($event)"
  >
    <ngx-datatable-column
      [width]="30"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true"
    >
    </ngx-datatable-column>
    <ngx-datatable-column prop="text" name="Question"></ngx-datatable-column>
    <ngx-datatable-column prop="categories" name="Categories"></ngx-datatable-column>
  </ngx-datatable>

  <div class="selected-column mt-5">
    <h4>
      Selections <small>({{ selected?.length }})</small>
    </h4>
    <ul>
      <li *ngFor="let sel of selected">
        {{ sel.id }}
      </li>
      <li *ngIf="!selected?.length">No Selections</li>
    </ul>
  </div>
</div>
