<div id="listCategories" class="col-12">
  <button
    class="badge badge-primary tacta-blue-bg"
    data-toggle="tooltip"
    (mousedown)="removeCategory(cat)"
    title="Click to unassign category from question"
    *ngFor="let cat of selectedCategories"
  >
    {{ cat.name }}
  </button>
</div>
<form [formGroup]="form" class="form-row mb-0">
  <div class="form-group col-md-10">
    <input
      id="typeahead-basic"
      formControlName="Categories"
      type="text"
      class="form-control"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [ngbTypeahead]="search"
      placeholder="Category"
    />
  </div>
  <button class="btn tacta-blue-bg form-control col-md-2" (click)="selectCategory()" type="submit">
    Select category
  </button>
</form>
