<div class="container mt-4 mx-auto">
  <h3>
    <a type="button" id="QuizNew" class="btn btn-custom btn-lg btn-block" routerLink="/"
      >Make new quiz</a
    >
  </h3>
  <ngx-datatable
    *ngIf="pageResult"
    class="material"
    [rows]="rows"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [rowIdentity]="getId"
    [externalPaging]="true"
    [count]="pageResult.metadata.total"
    [offset]="pageResult.metadata.offset"
    [limit]="pageResult.metadata.pageSize"
    [columnMode]="ColumnMode.force"
    (page)="pageChanged($event)"
  >
    <ngx-datatable-column [sortable]="false" prop="name" name="Quizzes"> </ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" prop="numberOfQuestions" name="Number of Questions">
    </ngx-datatable-column>

    <ngx-datatable-column
      ><ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span>
          <button class="btn btn-custom" routerLink="/leaderboard/{{ getId(row) }}">
            Leaderboard
          </button>
        </span>
      </ng-template></ngx-datatable-column
    >
    <ngx-datatable-column
      ><ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span>
          <button class="btn btn-custom" routerLink="/start-quiz/{{ getId(row) }}">
            Start Quiz
          </button>
        </span>
      </ng-template></ngx-datatable-column
    >
  </ngx-datatable>
</div>
