<app-navbar></app-navbar>
<div class="container">
  <form [formGroup]="form" class="form-group">
    <div class="form-group">
      <label>
        Question:
      </label>
      <input type="text" formControlName="Text" class="form-control" />
      <div *ngIf="Text.errors">
        <div class="invalid" *ngIf="submited && Text.errors.required">Question is required</div>
      </div>
    </div>
    <div class="form-group">
      <select formControlName="DifficultyLevelId" (change)=selectChangeHandler($event)>
        <option disabled [value]="null" [selected]=true>Difficulty Level</option>
        <option *ngFor="let level of DifficultyLevels" [value]="level.id"> {{level.name}} </option>
      </select>
      <div *ngIf="Level==0">
        <div class="invalid" *ngIf="submited && Level==0">Difficulty Level is required</div>
      </div>
    </div>
    <hr>
    <div formArrayName="answers" *ngFor="let item of answersArray.controls; let i = index">
      <div [formGroupName]="i" class="form-row">
        <div class="form-group col-md-8">
          <label>
            {{i+1}}. Answer:</label>
          <input type="text" formControlName="Text" class="form-control" />
          <div *ngIf="submited && item.invalid">
            <div *ngIf="item.invalid" class="invalid">Answer is required</div>
          </div>
          <div *ngIf="submited && findDuplicate(item.value.Text)">
            <div *ngIf="duplicated" class="invalid">Duplicated answer</div>
          </div>
        </div>
        <div class="form-group custom-control custom-checkbox col-md-3 pl-5 mt-4 pt-2">
          <input type="checkbox" formControlName="IsCorrect" class="form-control custom-control-input"
            id="correct-{{i}}" />
          <label class="custom-control-label" for="correct-{{i}}">Valid</label><br>
          <div *ngIf="submited && answersArray.errors">
            <div *ngIf="answersArray.errors.minLengthOfValidAnswers" class="invalid">Check only one correct answer</div>
          </div>
        </div>
        <div class="form-group col-md-1 align-self-end mt-4 pt-2">
          <button (click)="removeAnswer(i)" [disabled]="removeButtonDisabled"
            class="form-control btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </form>
  <br />
  <div>
    <button (click)="addAnotherAnswer()" class="btn btn-primary mr-2">Add Answer</button>
    <button class="btn btn-success" (click)=addQuestion(form)>Submit</button>
  </div>
</div>

{{Level}}
